<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="/{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="/{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>

    <div class="header-middle">
      <span>Rako - Car <a onclick="gtag('event', 'call', {});" href="tel: {{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a></span>
      {% include navigate.html %}
    </div>
    <div class="header-middle-mobile">
        <span>Rako - Car</span>
    <br>
        <span><a onclick="gtag('event', 'call', {});" href="tel: {{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a> </span>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
